<!-- IF .ext_arcade_leaders_forum_index_arcade -->
	<div class="forabg">
		<div class="inner arcade-inner">
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt class="arcade_dt1">{L_ARCADE_LEADERS}</dt>
						<dd class="arcade_dd1"></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
				<li class="row">
					<dl>
						<dt class="arcade_dt2">
							<!-- BEGIN ext_arcade_leaders_forum_index_arcade -->
								<div class="arcade_main_leaders" style="width: {EXT_ARCADE_LEADERS_FORUM_INDEX_ARCADE_WIDTH}%">
									<!-- IF ext_arcade_leaders_forum_index_arcade.AVATAR -->&nbsp;&nbsp;{ext_arcade_leaders_forum_index_arcade.AVATAR}<br><br><!-- ENDIF -->&nbsp;{ext_arcade_leaders_forum_index_arcade.RANK}:&nbsp;&nbsp;{ext_arcade_leaders_forum_index_arcade.USERNAME}&nbsp;&nbsp;({ext_arcade_leaders_forum_index_arcade.TOTAL_WINS})<!-- IF ext_arcade_leaders_forum_index_arcade.TROPHY -->&nbsp;&nbsp;{ext_arcade_leaders_forum_index_arcade.TROPHY}<!-- ENDIF -->&nbsp;
								</div>
								<!-- IF ext_arcade_leaders_forum_index_arcade.S_NEW_BLOCK and not ext_arcade_leaders_forum_index_arcade.S_LAST_ROW --><br style="clear: both;"><!-- ENDIF -->
							<!-- END ext_arcade_leaders_forum_index_arcade -->
						</dt>
						<dd class="arcade_dd1"></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
<br>
<!-- ENDIF -->

<!-- IF .ext_arcade_leaders_forum_index_challenge -->
	<div class="forabg">
		<div class="inner arcade-inner">
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt class="arcade_dt1">{L_ARCADE_CHALLENGE_LEADERS}</dt>
						<dd class="arcade_dd1"></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
				<li class="row">
					<dl>
						<dt class="arcade_dt2">
							<!-- BEGIN ext_arcade_leaders_forum_index_challenge -->
								<div class="arcade_main_leaders" style="width: {EXT_ARCADE_LEADERS_FORUM_INDEX_CHALLENGE_WIDTH}%">
									<!-- IF ext_arcade_leaders_forum_index_challenge.AVATAR -->&nbsp;&nbsp;{ext_arcade_leaders_forum_index_challenge.AVATAR}<br><br><!-- ENDIF -->&nbsp;{ext_arcade_leaders_forum_index_challenge.RANK}:&nbsp;&nbsp;{ext_arcade_leaders_forum_index_challenge.USERNAME}&nbsp;&nbsp;({ext_arcade_leaders_forum_index_challenge.TOTAL_WINS})<!-- IF ext_arcade_leaders_forum_index_challenge.TROPHY -->&nbsp;&nbsp;{ext_arcade_leaders_forum_index_challenge.TROPHY}<!-- ENDIF -->&nbsp;
								</div>
								<!-- IF ext_arcade_leaders_forum_index_challenge.S_NEW_BLOCK and not ext_arcade_leaders_forum_index_challenge.S_LAST_ROW --><br style="clear: both;"><!-- ENDIF -->
							<!-- END ext_arcade_leaders_forum_index_challenge -->
						</dt>
						<dd class="arcade_dd1"></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
<br>
<!-- ENDIF -->

<!-- IF .ext_arcade_leaders_forum_index_tournament -->
	<div class="forabg">
		<div class="inner arcade-inner">
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt class="arcade_dt1">{L_ARCADE_TOURNAMENT_LEADERS}</dt>
						<dd class="arcade_dd1"></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
				<li class="row">
					<dl>
						<dt class="arcade_dt2">
							<!-- BEGIN ext_arcade_leaders_forum_index_tournament -->
								<div class="arcade_main_leaders" style="width: {EXT_ARCADE_LEADERS_FORUM_INDEX_TOURNAMENT_WIDTH}%">
									<!-- IF ext_arcade_leaders_forum_index_tournament.AVATAR -->&nbsp;&nbsp;{ext_arcade_leaders_forum_index_tournament.AVATAR}<br><br><!-- ENDIF -->&nbsp;{ext_arcade_leaders_forum_index_tournament.RANK}:&nbsp;&nbsp;{ext_arcade_leaders_forum_index_tournament.USERNAME}&nbsp;&nbsp;({ext_arcade_leaders_forum_index_tournament.TOTAL_WINS})<!-- IF ext_arcade_leaders_forum_index_tournament.TROPHY -->&nbsp;&nbsp;{ext_arcade_leaders_forum_index_tournament.TROPHY}<!-- ENDIF -->&nbsp;
								</div>
								<!-- IF ext_arcade_leaders_forum_index_tournament.S_NEW_BLOCK and not ext_arcade_leaders_forum_index_tournament.S_LAST_ROW --><br style="clear: both;"><!-- ENDIF -->
							<!-- END ext_arcade_leaders_forum_index_tournament -->
						</dt>
						<dd class="arcade_dd1"></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
<br>
<!-- ENDIF -->
